<div class="form-auth-login">
  <form
    *ngIf="isReady"
    [formGroup]="loginForm"
    novalidate
    (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Login </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                autocomplete="username" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                autocomplete="current-password" />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
