<footer>
  <div class="container">
    <mat-toolbar>
      <a mat-raised-button color="primary" href="/pages/create">
        Create a page
      </a>

      <a mat-raised-button color="primary" href="/snippets/create">
        Create a snippet
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        href="https://github.com/gammamatrix/playground-cms"
        target="_blank">
        Playground CMS</a
      >
      <a
        mat-list-item
        href="https://github.com/gammamatrix/playground-cms-api"
        target="_blank">
        Playground CMS API</a
      >
      <a
        mat-list-item
        href="https://gammamatrix-playground.readthedocs.io/en/develop/components/cms.html"
        target="_blank">
        Playground CMS Documentation</a
      >
    </mat-nav-list>
  </div>
</footer>
