<nav class="content">
  <h1 class="mat-h1">Snippet Revisions</h1>
  <ul class="breadcrumbs">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/snippets">Snippets</a>
    </li>
    <li>
      <a href="/snippets/revisions">Revisions</a>
    </li>
  </ul>
</nav>
<mat-spinner *ngIf="!isReady" class="loader"></mat-spinner>
<div [hidden]="!isReady" class="mat-elevation-z8">
  <mat-table matSort aria-label="Snippet Revisions">
    <ng-container matColumnDef="revision">
      <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{ row.revision }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="slug">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Slug</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{ row.slug }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="snippet_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{ row.snippet_type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Created</mat-header-cell
      >
      <mat-cell mat-cell *matCellDef="let row">
        {{ row.created_at | date: 'medium' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Updated</mat-header-cell
      >
      <mat-cell mat-cell *matCellDef="let row">
        {{ row.updated_at | date: 'medium' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="manage">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon>settings</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Expand record manage options">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="restore(row)" mat-menu-item>
            <mat-icon>recycling</mat-icon>
            Restore
          </button>
          <button (click)="preview(row.id)" mat-menu-item>
            <mat-icon>preview</mat-icon>
            Preview
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    #paginator
    [length]="recordCount"
    [pageIndex]="0"
    [pageSize]="options.perPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="changePage($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
