<mat-spinner *ngIf="!isReady" class="loader"></mat-spinner>
<div [hidden]="!isReady">
  <mat-table
    matSort
    aria-label="Pages"
    class="full-width-table mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Slug</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.slug }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="page_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.page_type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="revision">
      <mat-header-cell *matHeaderCellDef>Revision</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.revision }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Created
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.created_at | date: 'medium' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Updated
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.updated_at | date: 'medium' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="manage">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon>settings</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a
            *ngIf="!row.locked && !row.deleted_at"
            [routerLink]="['/pages/edit/', row.id]"
            mat-menu-item>
            <mat-icon>edit</mat-icon>
            Edit
          </a>
          <a
            class="text-nowrap"
            [routerLink]="['/pages/revisions/', row.id]"
            mat-menu-item>
            <i class="fa-solid fa-code-branch"></i>
            {{ row.revision }} Revisions
          </a>
          <button *ngIf="row.deleted_at" (click)="restore(row)" mat-menu-item>
            <mat-icon>recycling</mat-icon>
            Restore
          </button>
          <button
            *ngIf="!row.locked && !row.deleted_at"
            (click)="delete(row)"
            mat-menu-item>
            <mat-icon>delete</mat-icon>
            Delete
          </button>
          <button *ngIf="row.deleted_at" (click)="purge(row)" mat-menu-item>
            <mat-icon>delete_forever</mat-icon>
            Purge
          </button>
          <button
            *ngIf="!row.locked && !row.deleted_at"
            (click)="lock(row)"
            mat-menu-item>
            <mat-icon>lock</mat-icon>
            Lock
          </button>
          <button *ngIf="row.locked" (click)="unlock(row)" mat-menu-item>
            <mat-icon>lock_open</mat-icon>
            Unlock
          </button>
        </mat-menu>
        <span class="icons">
          <mat-icon *ngIf="row.deleted_at">delete</mat-icon>
          <mat-icon *ngIf="row.locked">lock</mat-icon>
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="options.perPage"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
  </mat-paginator>
</div>
